{
    # Empty global options block
}

portainer.home.arpa {
    # This doesn't work yet, need to figure out docker networking properly
    # reverse_proxy portainer:9443

    # For now, just redirect to the right port
    redir https://portainer.home.arpa:9443{uri}
}

prowlarr.home.arpa {
    reverse_proxy gluetun:9696
}

radarr.home.arpa {
    reverse_proxy gluetun:7878
}

sonarr.home.arpa {
    reverse_proxy gluetun:8989
}

qbittorrent.home.arpa {
    reverse_proxy gluetun:8080
}

# Temporarily allow IP:8096 for local network to get around DNS issues on guest network over VPN
# TODO - remove this once fixed properly
:8096 jellyfin.home.arpa {
    reverse_proxy jellyfin:8096
}

jellyseerr.home.arpa {
    reverse_proxy jellyseerr:5055
}

:80 http://caddy.home.arpa {
    respond /healthcheck "Healthy" 200
}

# Must use wildcard certificate for sub-subdomains of DuckDNS, because these
#   custom subdomains don't have their own DNS record and therefore fail the
#   ACME DNS-01 challenge
*.{$DOMAIN} {
    tls {
        dns duckdns {env.DUCKDNS_API_TOKEN}
    }

    # Media services
    @jellyfin     host jellyfin.{$DOMAIN}
    @jellyseerr   host jellyseerr.{$DOMAIN}
    @bazarr       host bazarr.{$DOMAIN}
    @prowlarr     host prowlarr.{$DOMAIN}
    @radarr       host radarr.{$DOMAIN}
    @sonarr       host sonarr.{$DOMAIN}
    @qbittorrent  host qbittorrent.{$DOMAIN}
    @metube       host metube.{$DOMAIN}
    @yt-dlp       host yt-dlp.{$DOMAIN}

    reverse_proxy @jellyfin    jellyfin:8096
    reverse_proxy @jellyseerr  jellyseerr:5055
    reverse_proxy @bazarr      gluetun:6767
    reverse_proxy @prowlarr    gluetun:9696
    reverse_proxy @radarr      gluetun:7878
    reverse_proxy @sonarr      gluetun:8989
    reverse_proxy @qbittorrent gluetun:8080
    reverse_proxy @metube      metube:8081
    reverse_proxy @yt-dlp      yt-dlp:8080

    # Alternate WebUI for qBittorrent - static files
    @iqbit        host iqbit.{$DOMAIN}
    route @iqbit {
        reverse_proxy /api/* qbittorrent:8080
        file_server {
            root /www/iQbit/release/public
        }
    }

    # Network services
    @librespeed         host speedtest.{$DOMAIN}
    @speedtest-tracker  host speedtest-tracker.{$DOMAIN}
    # @unifi              host unifi.{$DOMAIN}

    reverse_proxy @librespeed         librespeed:80
    reverse_proxy @speedtest-tracker  speedtest-tracker:80
    # reverse_proxy @unifi              unifi:80

    # Misc services
    @home-assistant host home-assistant.{$DOMAIN}

    reverse_proxy @home-assistant home-assistant:8123

    # Auto redirect common typos
    @typo_jellyseerr  host jellyseer.{$DOMAIN}
    @typo_qbittorrent host qbitorent.{$DOMAIN} qbitorrent.{$DOMAIN} qbittorent.{$DOMAIN}

    redir @typo_jellyseerr  https://jellyseerr.{$DOMAIN}
    redir @typo_qbittorrent https://qbittorrent.{$DOMAIN}
}
